external_url '{{ gitlab_external_url }}'

nginx['ssl_certificate'] = "{{ gitlab_ssl_certificate }}"
nginx['ssl_certificate_key'] = "{{ gitlab_ssl_certificate_key }}"
nginx['redirect_http_to_https'] = true
